
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);

  .signature {
    font-style: italic;
    font-size: 12px;
    color: #212121;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: rgb(20, 19, 19);
    }
  }
}


.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 20px;


  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      padding-left: 4px;
      color: #ea4f4c;
    }
  }


}

.menuitem {
  background-color: none;

  }
  .menuitem a {
      display: block;
      text-decoration: none;
      color: #fdf4f4;
      padding: 10px;
      }
      .menulist {
        display: flex;
          list-style-type: none;
          margin: 0px;
          padding: 0px;

          overflow: hidden;
      }

.active.parent {
  transform: translate(-40px, -25px);
  .link {
    font-size: 12px;

    .fa-minus {
      opacity: 1 !important;
      font-size: 8px;
    }

    .fa-plus {
      opacity: 0 !important;
    }
  }


.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}
}

#btcompra {
 font-size: 16px;
 border-radius: 18px;
 background-color: burlywood;
 border: none;
}