body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    text-align:left;
    padding: 20px; /* Adicione algum espaçamento superior e inferior ao header se necessário */
}

.title{
    color: #E64;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin-right: 15px; /* Espaçamento entre os botões */
}

nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último botão */
}

nav ul li a {
    text-decoration: none;
    color: #F74;
    padding: 10px 20px;
    border: 0px solid #fff;
}

nav ul li a:hover {
    background-color: #E64;
    color: #fff;
    border-radius: 20px;
}
