@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 5rem;
  
  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      padding-left: 4px;
      color: #ea4f4c;
    }
  }
}

/* Estilize o formulário de login */
#loginForm, #cadastroForm  {
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 5rem;
}

#email,
#password,
#sobrenome,
#nome {
    font-family: 'Rubik', sans-serif;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginButton, #cadastroButton {
    margin-top: 20px;
    background-color: #E64;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #F74;
}

p {
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}
/* Seu CSS existente */
/* Certifique-se de que o seu estilo CSS existente está no arquivo style.css */

/* Estilos para o footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px ;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  position:fixed !important;; /* Tornar o footer fixo */
  bottom: 0;
  left: 0;
  height: 9rem;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

/* Estilos para as seções do footer */
.contact-info,
.opening-hours,
.social-media {
  flex: 1;
  margin: 0 10px;
}

.contact-info h2,
.opening-hours h2,
.social-media h2 {
  font-size: 20px;
}

.contact-info p,
.opening-hours p {
  margin: 0;
  font-size: 16px;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media li {
  margin: 5px 0;
}

.social-media a {
  text-decoration: none;
  color: #ea4f4c;
  font-weight: bold;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #ff6b6b;
}
.fa {
  font-size: 24px; /* Tamanho dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
  color: #ea4f4c; /* Cor dos ícones */
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 20;
  display: flex; /* Tornar os elementos da lista flexíveis */
}

.social-icons li {
  margin-left: 4%;
  margin-right: 10px; /* Adicionar espaçamento entre os ícones */
  font-size:29px;
  align-items: center;

}
